.support-pc-wrapper__title {
  font-size: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.42rem;
}
.support-pc-wrapper__content {
  border-top: 1px solid #d8d8d8;
  display: flex;
  margin-bottom: 0.6rem;
}
.support-pc-wrapper__left {
  width: 3.2rem;
  padding-top: 0.26rem;
  border-right: 1px solid #d8d8d8;
  margin-bottom: 0.36rem;
}
.support-pc-wrapper__left-item {
  width: 100%;
  padding: 0.28rem;
  cursor: pointer;
  border-left: 6px solid transparent;
  transition: all 0.3s;
}
.support-pc-wrapper__left-item-title {
  font-size: 0.24rem;
  width: 2.6rem;
  /* 10 个字符宽度 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.support-pc-wrapper__left-item--active {
  background-color: #f9f9f9;
  border-left: 6px solid var(--color-primary);
}
.support-pc-wrapper__left-item--active .support-pc-wrapper__left-item-title {
  color: var(--color-primary);
}
.support-pc-wrapper__right {
  flex: 1;
  padding-top: 0.36rem;
  padding-left: 0.56rem;
  font-weight: 400;
  font-size: 18px;
  color: #3d3d3d;
  white-space: pre-line;
}
