.heroCard {
  display: flex;
  justify-content: center;
}
.heroCardContent {
  margin-top: 0.46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroCardTitle {
  font-size: 0.46rem;
  line-height: 1.5;
}
.heroCardDescription {
  font-size: 0.24rem;
}
.heroCardMore {
  font-size: 0.22rem;
  line-height: 1.5;
  color: var(--color-primary);
  margin-top: 0.1rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .heroCardContent {
    margin-top: 0.4rem;
  }
  .heroCardTitle {
    font-size: 0.58rem;
    font-weight: 700;
    text-align: center;
  }
  .heroCardDescription {
    font-size: 0.4rem;
    font-weight: 300;
    text-align: center;
  }
  .heroCardMore {
    font-size: 0.32rem;
    margin-top: 0.2rem;
  }
  .en .heroCardContent {
    line-height: 1.2;
  }
  .en .heroCardTitle {
    line-height: 1.2;
    font-size: 0.48rem;
  }
  .en .heroCardDescription {
    margin-top: 0.1rem;
    line-height: 1.2;
    font-size: 0.32rem;
  }
}
