.hero-card {
  display: flex;
  justify-content: center;
}
.hero-card-content {
  margin-top: 0.46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-card-title {
  font-size: 0.46rem;
  line-height: 1.5;
}
.hero-card-description {
  font-size: 0.24rem;
}
.hero-card-more {
  font-size: 0.22rem;
  line-height: 1.5;
  color: var(--color-primary);
  margin-top: 0.1rem;
  cursor: pointer;
}
.mobileUI .hero-card-content {
  margin-top: 0.4rem;
}
.mobileUI .hero-card-title {
  font-size: 0.58rem;
  font-weight: 700;
  text-align: center;
}
.mobileUI .hero-card-description {
  font-size: 0.4rem;
  font-weight: 300;
  text-align: center;
}
.mobileUI .hero-card-more {
  font-size: 0.32rem;
  margin-top: 0.2rem;
}
.mobileUI .en .hero-card-content {
  line-height: 1.2;
}
.mobileUI .en .hero-card-title {
  line-height: 1.2;
  font-size: 0.48rem;
}
.mobileUI .en .hero-card-description {
  margin-top: 0.1rem;
  line-height: 1.2;
  font-size: 0.32rem;
}
@media screen and (max-width: 1024px) {
  .hero-card-content {
    margin-top: 0.4rem;
  }
  .hero-card-title {
    font-size: 0.58rem;
    font-weight: 700;
    text-align: center;
  }
  .hero-card-description {
    font-size: 0.4rem;
    font-weight: 300;
    text-align: center;
  }
  .hero-card-more {
    font-size: 0.32rem;
    margin-top: 0.2rem;
  }
  .en .hero-card-content {
    line-height: 1.2;
  }
  .en .hero-card-title {
    line-height: 1.2;
    font-size: 0.48rem;
  }
  .en .hero-card-description {
    margin-top: 0.1rem;
    line-height: 1.2;
    font-size: 0.32rem;
  }
}
