/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hero-transition-delay: 1s;
  --hero-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --color-primary: #1761ff;
  --width-large: 1440px;
  --width-medium: 1024px;
  --width-small: 375px;
  --navigation-height-pc: 0.64rem;
  --navigation-height-tablet: 0.88rem;
  --navigation-height-mobile: 0.8rem;
  --main-width: 12.2rem;
  --background: #ffffff;
  /* --foreground: #171717; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica,
    Helvetica Neue, PingFang SC, 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;

  font-size: calc(100vw / 19.2);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;

  input {
    &::-webkit-credentials-auto-fill-button {
      display: none !important;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
    &:focus::-webkit-contacts-auto-fill-button {
      opacity: 0;
    }
  }
  ul,
  li {
    list-style: none;
  }
}
.auto-wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  display: block;
}
.force-wrap {
  word-break: break-all;
  display: block;
}
.force-no-wrap {
  white-space: nowrap;
}
.hero-animate {
  transition: all 3s var(--hero-transition-timing-function)
    var(--hero-transition-delay);
}
.hero-animate--to-reveal {
  transform: translateY(0.06rem) translateZ(0);
  opacity: 0;
}
.hero-animate--revealed {
  transform: translateZ(0);
  opacity: 1;
}
/* pc */
@media screen and (max-width: 1440px) {
  :root {
    font-size: calc(100vw / 19.2);
  }
}

/* ipad横屏 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
  :root {
    font-size: calc(100vw / 19.2);
  }
}
/* 移动端 横屏 */

/* 适配移动端竖屏、pad竖屏 */
@media screen and (max-width: 1024px) {
  :root {
    font-size: calc(100vw / 7.5);
  }
}

/*  pad 横屏字体太小 */

body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  div.poi-node-popover div.ant-popover-content div.ant-popover-inner {
    padding: 0.1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
dl,
ol {
  list-style: none;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    width: 100vw;

    div.poi-node-popover div.ant-popover-content div.ant-popover-inner {
      padding: 12px;
    }
  }
}
